<% layout('layOut/layout') %>

<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
            <div class="card shadow ">
                <div class="card-body">
                    <h4 class="card-title">Register</h4>
                    <form method="post" action="/register" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username"  autofocus required>
                            <div class="invalid-feedback">
                                Please enter a UserName.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="invalid-feedback">
                                Please enter your Email.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="text" id="password" name="password"  required>
                            <div class="invalid-feedback">
                                Password Needed.
                            </div>
                        </div>
                        <button class="btn btn-success col-12">Sign up</button>
                    </form>
                
                <div class="mt-3 text-center">
                    <p>
                        <a class="text-decoration-none" href="/login">Have an account....!</a>
                    </p>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>




    